

td{
    border: 1px solid blue;
}

table{
    border-collapse: collapse;
    width: 600px;

}

.yashil{
    background-color: green;
    color: white;
}

.red{
    background-color: red;
    color: white;
}

.black{
    background-color: black;
    color: white;
}

.yellow{
    background-color: yellow;
    color: black;
}